<table border="0" width="100%" id="table5">
	<tr>
		<td><a href="busquedaProductos.htm">Ver Productos</a></td>
	</tr>
	<tr>
		<td><a href="busquedaPedidos.htm">Ver Pedidos</a></td>
	</tr>
	<tr>
		<td><a href="registrarPedido.htm">Registrar pedido</a></td>
	</tr>
	<tr>
		<td><a href="seleccionarPedidoOferta.htm">Seleccionar pedido de oferta</a></td>
	</tr>
	<tr>
		<td><a href="administradorBodegas.htm">Administrador de bodegas</a></td>
	</tr>	
	<tr>
		<td><a href="verProveedores.htm">Ver proveedores</a></td>
	</tr>
	<tr>
		<td><a href="registrarEntregaProveedor.htm">Registrar entrega proveedor</a></td>
	</tr>
</table>