<table border="0" width="100%" id="table5">
	<tr>
		<td><a href="busquedaProductos.htm">Ver Productos</a></td>
	</tr>
	<tr>
		<td><a href="busquedaPedidos.htm">Ver Pedidos</a></td>
	</tr>
	<tr>
		<td><a href="registrarPedido.htm">Registrar pedido</a></td>
	</tr>
	<tr>
		<td><a href="seleccionarPedidoOferta.htm">Seleccionar pedido de oferta</a></td>
	</tr>
	<tr>
		<td><a href="registrarBodega.htm">Registrar bodega</a></td>
	</tr>
	<tr>
		<td><a href="cerrarBodega.htm">Cerrar bodega</a></td>
	</tr>
	<tr>
		<td><a href="verBodegas.htm">Ver bodegas</a></td>
	</tr>
	<tr>
		<td><a href="verProveedores.htm">Ver proveedores</a></td>
	</tr>
</table>