<form name="seleccion" action="resultadoRegistrarPedido.htm" method="POST">
	<div>
		<span>
			<select name="valor">
				#foreach ($opcion in $listaOpciones)
					<option value="$opcion">$opcion</option>
				#end
			</select>
        </span>
		<span>
			<input type="text"" name="cantidad"> <input type="hidden" name="producto" value="$producto" 
				
		</span> 				
	</div>
	<div>
		<span>
			<input type="submit" value="Submit">
		</span>
	</div>
</form>