<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5"
 xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
 <display-name>CentralAbastos</display-name>
 <!-- =======-=======-=======-=======-=======- Servlets -=======-=======-=======-=======-======= -->
 
 <servlet>
  <display-name>ServletResultadoBusquedaProductos</display-name>
  <servlet-name>ServletResultadoBusquedaProductos</servlet-name>
  <servlet-class>co.edu.uniandes.centralAbastos.servlets.ServletResultadoBusquedaProductos</servlet-class>
 </servlet>
 <servlet>
  <display-name>ServletBusquedaProductos</display-name>
  <servlet-name>ServletBusquedaProductos</servlet-name>
  <servlet-class>co.edu.uniandes.centralAbastos.servlets.ServletBusquedaProductos</servlet-class>
 </servlet>
 <servlet>
  <display-name>ServletBusquedaPedidos</display-name>
  <servlet-name>ServletBusquedaPedidos</servlet-name>
  <servlet-class>co.edu.uniandes.centralAbastos.servlets.ServletBusquedaPedidos</servlet-class>
 </servlet>
 <servlet>
  <display-name>ServletResultadoBusquedaPedidos</display-name>
  <servlet-name>ServletResultadoBusquedaPedidos</servlet-name>
  <servlet-class>co.edu.uniandes.centralAbastos.servlets.ServletResultadoBusquedaPedidos</servlet-class>
 </servlet>
 <servlet>
  <display-name>ServletMenuUsuario</display-name>
  <servlet-name>ServletMenuUsuario</servlet-name>
  <servlet-class>co.edu.uniandes.centralAbastos.servlets.ServletMenuUsuario</servlet-class>
 </servlet>
 <servlet>
  <display-name>ServletRegistrarPedido</display-name>
  <servlet-name>ServletRegistrarPedido</servlet-name>
  <servlet-class>co.edu.uniandes.centralAbastos.servlets.ServletRegistrarPedido</servlet-class>
 </servlet>
 
 <servlet>
  <display-name>ServletSeleccionarPedidoOferta</display-name>
  <servlet-name>ServletSeleccionarPedidoOferta</servlet-name>
  <servlet-class>co.edu.uniandes.centralAbastos.servlets.ServletSeleccionarPedidoOferta</servlet-class>
 </servlet>
 
 <servlet>
  <display-name>ServletResultadoSeleccionPedidoOferta</display-name>
  <servlet-name>ServletResultadoSeleccionPedidoOferta</servlet-name>
  <servlet-class>co.edu.uniandes.centralAbastos.servlets.ServletResultadoSeleccionPedidoOferta</servlet-class>
 </servlet>
 
 <servlet>
  <display-name>ServletCrearBodega</display-name>
  <servlet-name>ServletCrearBodega</servlet-name>
  <servlet-class>co.edu.uniandes.centralAbastos.servlets.ServletCrearBodega</servlet-class>
 </servlet>
 
 <servlet>
  <display-name>ServletResultadoCrearBodega</display-name>
  <servlet-name>ServletResultadoCrearBodega</servlet-name>
  <servlet-class>co.edu.uniandes.centralAbastos.servlets.ServletResultadoCrearBodega</servlet-class>
 </servlet>
 
 <servlet>
  <display-name>ServletEliminarBodega</display-name>
  <servlet-name>ServletEliminarBodega</servlet-name>
  <servlet-class>co.edu.uniandes.centralAbastos.servlets.ServletEliminarBodega</servlet-class>
 </servlet>
 
 <servlet>
  <display-name>ServletResultadoEliminarBodega</display-name>
  <servlet-name>ServletResultadoEliminarBodega</servlet-name>
  <servlet-class>co.edu.uniandes.centralAbastos.servlets.ServletResultadoEliminarBodega</servlet-class>
 </servlet>
 
 <servlet>
  <display-name>ServletAbrirBodega</display-name>
  <servlet-name>ServletAbrirBodega</servlet-name>
  <servlet-class>co.edu.uniandes.centralAbastos.servlets.ServletAbrirBodega</servlet-class>
 </servlet>
 
 <servlet>
  <display-name>ServletResultadoAbrirBodega</display-name>
  <servlet-name>ServletResultadoAbrirBodega</servlet-name>
  <servlet-class>co.edu.uniandes.centralAbastos.servlets.ServletResultadoAbrirBodega</servlet-class>
 </servlet>
 
 <servlet>
  <display-name>ServletCerrarBodega</display-name>
  <servlet-name>ServletCerrarBodega</servlet-name>
  <servlet-class>co.edu.uniandes.centralAbastos.servlets.ServletCerrarBodega</servlet-class>
 </servlet>
 
 <servlet>
  <display-name>ServletResultadoCerrarBodega</display-name>
  <servlet-name>ServletResultadoCerrarBodega</servlet-name>
  <servlet-class>co.edu.uniandes.centralAbastos.servlets.ServletResultadoCerrarBodega</servlet-class>
 </servlet>
 
 <servlet>
  <display-name>ServletVerBodegas</display-name>
  <servlet-name>ServletVerBodegas</servlet-name>
  <servlet-class>co.edu.uniandes.centralAbastos.servlets.ServletVerBodegas</servlet-class>
 </servlet>
 
  <servlet>
  <display-name>ServletVerProveedores</display-name>
  <servlet-name>ServletVerProveedores</servlet-name>
  <servlet-class>co.edu.uniandes.centralAbastos.servlets.ServletVerProveedores</servlet-class>
 </servlet>
 
 <!--===XxX===xXx===XxX===xXx===== Servlet Mappings =====xXx===XxX===xXx===XxX===-->
  
 <servlet-mapping>
  <servlet-name>ServletResultadoBusquedaProductos</servlet-name>
  <url-pattern>/resultadoBusquedaProductos.htm</url-pattern>
 </servlet-mapping>
 
 <servlet-mapping>
  <servlet-name>ServletBusquedaProductos</servlet-name>
  <url-pattern>/busquedaProductos.htm</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ServletBusquedaPedidos</servlet-name>
  <url-pattern>/busquedaPedidos.htm</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ServletResultadoBusquedaPedidos</servlet-name>
  <url-pattern>/resultadoBusquedaPedidos.htm</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ServletMenuUsuario</servlet-name>
  <url-pattern>/menuUsuario.htm</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ServletRegistrarPedido</servlet-name>
  <url-pattern>/registrarPedido.htm</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>ServletSeleccionarPedidoOferta</servlet-name>
  <url-pattern>/seleccionarPedidoOferta.htm</url-pattern>
 </servlet-mapping>
 
 <servlet-mapping>
  <servlet-name>ServletResultadoSeleccionPedidoOferta</servlet-name>
  <url-pattern>/resultadoSeleccionPedidoOferta.htm</url-pattern>
 </servlet-mapping>
 
 <servlet-mapping>
  <servlet-name>ServletVerBodegas</servlet-name>
  <url-pattern>/verBodegas.htm</url-pattern>
 </servlet-mapping>
 
 <servlet-mapping>
  <servlet-name>ServletCrearBodega</servlet-name>
  <url-pattern>/crearBodega.htm</url-pattern>
 </servlet-mapping>
 
 <servlet-mapping>
  <servlet-name>ServletResultadoCrearBodega</servlet-name>
  <url-pattern>/resultadoCrearBodega.htm</url-pattern>
 </servlet-mapping>
 
 <servlet-mapping>
  <servlet-name>ServletEliminarBodega</servlet-name>
  <url-pattern>/eliminarBodega.htm</url-pattern>
 </servlet-mapping>
 
 <servlet-mapping>
  <servlet-name>ServletResultadoEliminarBodega</servlet-name>
  <url-pattern>/resultadoEliminarBodega.htm</url-pattern>
 </servlet-mapping>
 
 <servlet-mapping>
  <servlet-name>ServletAbrirBodega</servlet-name>
  <url-pattern>/abrirBodega.htm</url-pattern>
 </servlet-mapping>
 
 <servlet-mapping>
  <servlet-name>ServletResultadoAbrirBodega</servlet-name>
  <url-pattern>/resultadoAbrirBodega.htm</url-pattern>
 </servlet-mapping>
 
 <servlet-mapping>
  <servlet-name>ServletCerrarBodega</servlet-name>
  <url-pattern>/cerrarBodega.htm</url-pattern>
 </servlet-mapping>
 
 <servlet-mapping>
  <servlet-name>ServletResultadoCerrarBodega</servlet-name>
  <url-pattern>/resultadoCerrarBodega.htm</url-pattern>
 </servlet-mapping>
 
  <servlet-mapping>
  <servlet-name>ServletVerProveedores</servlet-name>
  <url-pattern>/verProveedores.htm</url-pattern>
 </servlet-mapping>
 
</web-app>
